<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button @click="handleClick">点击获取token</button>
        <div>
            <input type="text" v-model="username">
            <input type="text" v-model="password">
        </div>
        <button @click="registClick">点击注册</button>
        <button @click="loginClick">点击登录</button>
        <ul>
            <li v-for="(item,index) in dataList" :key="item.filmId">
                <img :src="item.poster" :alt="item.name">
                <h3>{{item.name}}</h3>
                <p>{{item.synopsis}}</p>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                username: "",
                password: "",
                dataList: []
            },
            created() {
                fetch('./test.json')
                    .then(res => {
                        // res是响应报文,需要解析
                        // return res.text(); // 文本格式
                        return res.json(); // json格式
                    })
                    .then(data => {
                        // console.log(data);
                        this.dataList = data.data.films;
                    })
            },
            methods: {
                handleClick() {
                    // fetch post 请求
                    fetch('http://localhost:3000/getToken', {
                        method: "POST"
                    }).then(res => {
                        return res.json()
                    }).then(data => {
                        // 把token存入本地
                        localStorage.setItem('token', data.token)
                    })
                },
                registClick() {
                    // fetch post请求,带参数:application/x-www-from-urlencoded
                    fetch('http://localhost:3000/users/regist', {
                        method: "POST",
                        headers: {
                            'content-type': 'application/x-www-form-urlencoded'
                        },
                        body: `username=${this.username}&password=${this.password}`
                    }).then(res => {
                        return res.json();// 提前请求主体
                    }).then(data => {
                        console.log(data);
                    })
                },
                loginClick() {
                    // fetch post请求,带参数:application/json
                    fetch('http://localhost:3000/users/login', {
                        method: "POST",
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: this.username,
                            password: this.password
                        })
                    }).then(res => {
                        return res.json();// 提前请求主体
                    }).then(data => {
                        console.log(data);
                    })
                }
            }


        })
    </script>
</body>

</html>